# Use the Google style in this project.
BasedOnStyle: Google

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*\.h(pp)?>'
    Priority: 1
  - Regex: "^<.*"
    Priority: 2
  - Regex: '^"wedge.*'
    Priority: 4
  - Regex: '^".*'
    Priority: 3